html {
    overflow-y: scroll;
}

#enter_title_form {
    border:1px solid #000;
    width: 300px;
    margin:100px auto 0 auto;
    padding: 0 15px 10px 15px;
}

#header {
    font-size: 300%;
    margin: 50px auto 0;
    padding-left:1em;
    width: 960px;
}

#page {
    border: 1px solid #000;
    margin: 0 auto 200px auto;
    width: 940px;
}
#nav_container {
    background: url("/static/images/nav-gradient.png") repeat-x;
} 

#nav {
    padding: 20px 0 0 0;
    min-height:400px;
}
#nav {
    margin:0;
    padding:0;
}
#nav > li {
    list-style-type: none;
}
#nav > li > a {
    text-decoration: none;
    color:#000;
    display:block;
    border-bottom:1px solid #000;
    padding:10px 30px;
}
#nav > li > a:hover {
    color:#FFF;
    background-color:#000;
}

#content_container {
    border-left:1px solid #000;
    margin-left: -1px;
}

#breadcrumbs {
    padding: 5px 20px 5px 20px;
    border-bottom:1px dotted #000;
}
#breadcrumbs a {
    color:#000;
}

#content {
    min-height:500px;
    padding: 0px 20px 50px 20px;
}

.balance_positive {
    background: #8F8;
}
.balance_negative {
    background: #F88;
}
.money {
    text-align: right;
}
.money.dynamic {
    color: #888;
}

.transaction_log {
    width: 100%;
}
.summary {
    border-top: 3px solid #000;
}

#error {
    color: red;
    display: none;
}
input.error {
    border: 1px solid red;
}

#nav a {
    background-position: 10px 10px;
    background-repeat: no-repeat;
}

#nav_home a {
    background-image: url(/static/images/house.png);
}
#nav_usage a {
    background-image: url(/static/images/pencil.png);
}
#nav_products a {
    background-image: url(/static/images/drink.png);
}
#nav_accounts a {
    background-image: url(/static/images/group.png);
}
#nav_cash a {
    background-image: url(/static/images/coins.png);
}
#nav_versions a {
    background-image: url(/static/images/time.png);
}
#nav_import a {
    background-image: url(/static/images/database_refresh.png);
}
