html {
    overflow-y: scroll;
}

#enter_title_form {
    border:1px solid #000;
    width: 300px;
    margin:100px auto 0 auto;
    padding: 0 15px 10px 15px;
}

#header {
    font-size: 300%;
    margin: 50px auto 0;
    padding-left:1em;
    width: 960px;
}

#page {
    border: 1px solid #000;
    margin: 0 auto 200px auto;
    width: 940px;
}
#nav_container {
    background: url("/static/images/nav-gradient.png") repeat-x;
} 

#nav {
    padding: 20px 0 0 0;
    min-height:400px;
}
#nav {
    margin:0;
    padding:0;
}
#nav > li {
    list-style-type: none;
}
#nav > li > a {
    text-decoration: none;
    color:#000;
    display:block;
    border-bottom:1px solid #000;
    padding:10px;
}
#nav > li > a:hover {
    color:#FFF;
    background:#000;
}

#content_container {
    border-left:1px solid #000;
    margin-left: -1px;
}
#content {
    min-height:500px;
    padding: 20px 20px 50px 20px;
}
